@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        .padding2em{
            padding:2em;
        }
    </style>
}

<div>
    <div class="padding2em">
        <form method="POST">
            <label for="ArtistName">Artist Name</label>
            <input type="text" id="ArtistName" name="ArtistName" placeholder=" Type an Artist's Name. " />
            <label for="SongName">Song Name</label>
            <input type="text" id="SongName" name="SongName" placeholder=" Type a Song Name. " />

            
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

    <div class="card" style="width: 18rem;">
    <div class="card-header">
        Artist Name
    </div>    
    @if(ViewData["Songs"] != null)
    {
    
    
      <ul class="list-group list-group-flush">
       @foreach (var artist in (dynamic)ViewData["Songs"])
       {
           <ul class="list-group list-group-flush">
            @foreach(var image in (dynamic)artist.Album.Images){
                if(@image.Width == 120){
                    <li><img src="@image.Url"></li>
                }
            }
            </ul>
            <li class="list-group-item"><a target="_blank" href="https://open.spotify.com/artist/@artist.Artists[0].Id">@artist.Album.Name</a></li>
       }
       </ul>  
    }
    </div>





@if(ViewData["Artists"] != null)
{
    <div class="row">
        Content:
      <ul>
       @foreach (var artist in (dynamic)ViewData["Artists"])
       {
           <ul>
            @foreach(var image in (dynamic)artist.Images){
                if(@image.Width == 160){
                    <li><img src="@image.Url"></li>
                }
            }
            </ul>
            <li><a target="_blank" href="https://open.spotify.com/artist/@artist.Id">@artist.Name</a></li>
       }
       </ul>  
    </div>
    }


</div>